.team-page {
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    margin-bottom: 20px;
    color: #fff;
  }

  .team-member {
    display: inline-block;
    margin: 25px;
    text-align: center;
    
  }

  .img-container {
    position: relative;
    display: inline-block;
  }

  
  
  .linkedin-cover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 100%;
    width: 150px;
    height: 150px;
    border-radius: 25%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s, 0.5s ease;
  }
  
  .img-container:hover .linkedin-cover {
    opacity: 1;
    bottom: 0;
    height: 150px;
  }
  
  .linkedin-cover a {
    color: #2c2cff;
    text-decoration: none;
    font-size: 20px;
  }
  
  .team-member img {
    width: 150px;
    height: 150px;
    border-radius: 25%;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  #linke{
    position: relative;
    top: 5px;
    width:20px;
    height: 20px;
  }


  .team-member h2 {
    margin: 5px 0;
    color: #fff;
  }
  
  .team-member p {
    color: #888;
  }
  
  .president {
    display: block;
    margin: 20px auto;
  }
  
  .team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  