.footer {
  display: flex;
  flex-direction: column;
  background-color: black;
  gap: 2rem;
  padding-left: 20px;
  justify-content: center;
  color: white;
  width: 100vw;
}

.image-container img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 25%;
  float: left;
  margin-right: 20px;
}

.footer-heading {
  /* font-family: "Montserrat", sans-serif; */
  /* font-family: "Libre Baskerville", serif; */
  font-family: "Manrope", sans-serif;
  text-align: center;
  font-size: 25px;
}

.dev-details {
  font-family: "Poppins", sans-serif;
}

.footer-links p:hover, .college-site:hover {
  text-decoration: underline;
}

.footer-links, .college-site {
  padding-left: 4rem;
  /* padding-top: 2rem ; */
}

.insta-link {
  background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
}

/* .college-site{
    paddi
} */