.im{
  display: flex;
  flex-direction: row;
  height: 651px;
  margin: 0 auto;
  justify-content: center;
}

.cover{
  height: 619px;
  width: 100%;
  position: relative;
  top: 0px;

}

.container {
  width: 100%;
  position: relative;
  text-align: center;
  color: white;
}

/* .keyboard {
  
  position: absolute;
  right: 0;
  margin: 0;
  
} */

.centered {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centered h1 {
  font-size: 60px;
  padding-bottom: 0px;
  line-height: 70.31px;
  letter-spacing: 20px;
  font-weight: 600;
  margin: 0;
  position: relative;
  top: 100px;
}

.centered p{
  position: relative;
  top: 10px;
  font-size: 24px;
  font-weight: 500;
  line-height: 30.72px;
  letter-spacing: 9px;
  font-family: "lora";
}

.snap{
  font-size: 80px;
  letter-spacing: -38px;
  position: relative;
  top:110px;
  font-weight: 500;
}

.l{
  right:260px;
}

.r{
  left: 210px;
  top: -106px;
}

.ll{
  margin-top: -123.5px;
}

@media (max-width: 768px) {
  .centered h1 {
    font-size: 5vw;
    letter-spacing: 10px;
  }

  .centered p{
   
    font-size: 3vw;
    letter-spacing: 9px;
    
  }
  .ome{
    overflow-x: hidden;
  }
 
}

@media (max-width: 426px) {
  
  .cover{
    height: 450px;
  }

 
  .centered h1 {
    font-size: 16px;
    letter-spacing: 6px;
    top: -15px;
  }

  .centered p{
    top: -45px;
    font-size: 10px;
    letter-spacing: 4px;
    line-height: 15.72px;
  }

  .l{
    right:120px;
    top: 3px;
  }

  .r{
    left: 95px;
    top: -103px;
  }
  
  .snap{
    font-size: 40px;
    letter-spacing: -18px;
    
  }
}

