.congratulations {
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
  }
  
  .congratulations h2 {
    color: #333;
  }
  
  .congratulations p {
    font-size: 16px;
    color: #666;
    margin: 10px 0;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 600px) {
    .congratulations {
      padding: 15px;
    }
    
    .congratulations h2 {
      font-size: 24px;
    }
    
    .congratulations p {
      font-size: 14px;
    }
    .certificates {
      padding: 15px;
    }
  
    .certificates a {
      font-size: 14px;
    }
  }
  

  /* Certificates Container */
.certificates {
  margin: 20px;
  padding: 20px;
  background-color: #276f70;

  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Certificate List */
.certificates ul {
  list-style: none;
  padding: 0;
}

/* Certificate List Item */
.certificates li {
  margin-bottom: 10px;
}

/* Certificate Link */
.certificates a {
  color: #007bff;
  text-decoration: none;
}

/* Certificate Link Hover */
.certificates a:hover {
  text-decoration: underline;
}