/* Mobile-first styles */
.auth-form-container {
    background-color: #b56c6c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
  }
  
  .auth-form-container h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  
  .auth-form-container h5 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  .login-form {
    border-radius: 8px;
    padding: 1rem;
    background-color: #88aacb08;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .login-form input,
  .login-form button {
    width: 90%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .login-form button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
  }
  
  .login-form button:hover {
    background-color: #0056b3;
  }
  
  /* Responsive styles */
  @media screen and (min-width: 768px) {
    .auth-form-container {
      padding: 2rem;
    }
    
    .auth-form-container h1 {
      font-size: 2.5rem;
    }
    
    .auth-form-container h5 {
      font-size: 1.2rem;
      margin-bottom: 2rem;
    }
    
    .login-form {
      max-width: 400px;
      margin: 0 auto;
    }
  }
  